.row {
  width: 100%;
  color: white;
  padding: 32px 12px 28px;
  display: flex;
  align-items: center;
  gap: 12px;
  scroll-behavior: smooth;
}

.overflow {
  overflow-y: hidden;
  overflow-x: auto;
}

.hide {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 36px;
}

.card {
  background-color: var(--black-menu);
  min-width: 256px;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  padding: 24px 12px 12px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 6px 12px -4px var(--logo);
  background-color: var(--black-hover);
}

.card img {
  position: absolute;
  height: 120px;
  left: 0;
  top: -20px;
}

.card > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.card > div div:first-of-type {
  background-color: var(--red);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card > div div:first-of-type svg {
  font-size: 1.6rem;
}

.card > div div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.card > div p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 600;
}
.card > div p:nth-child(2) {
  color: var(--logo);
  letter-spacing: 1px;
}
.card > div p:nth-child(3) {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.card > div p:nth-child(3) svg {
  color: var(--red);
}

.NotAvailable,
.NotAvailable img {
  width: 100%;
}

.NotAvailable p {
  text-align: center;
  font-size: 2rem;
  padding: 8px;
}
