:root {
  --white: #fefefe;
  --white-card: #f3f5f7;
  --black: #232227;
  --red: #fb185a;
  --blue: #6704df;
  --yellow: #ffdf00;
  --green: #04e690;
  --logo: #d2bbb2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  background-color: var(--black);
  scroll-behavior: smooth;
}
