.Home {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  column-gap: 88px;
}

.delivery {
  background-color: var(--logo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 140px;
  height: 36px;
  padding: 4px 8px 4px 14px;
  font-size: 1.4rem;
  font-weight: 800;
  border-radius: 20px;
}

.Home section {
  padding: 28px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  width: 100%;
}

.Home section div p {
  color: var(--black);
}

.Left div figure {
  background-color: var(--white-card);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: -2px 3px 6px -2px var(--pure-black);
}

.Left div figure img {
  width: 80%;
}

.Left > p {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--logo);
}

.Left span {
  color: var(--yellow);
  font-size: 4.8rem;
}

.Left > p:last-of-type {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-card);
  text-align: center;
}

.Left button {
  background-color: var(--yellow);
  width: 80%;
  margin: auto;
  padding: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.Left button:hover {
  box-shadow: 0px 4px 6px 0px var(--black-hover);
}

/* right side */

.etc {
  position: relative;
  align-items: center;
}

.etc > img {
  position: initial;
  width: 308px;
  height: 400px;
  margin: auto;
}

.etc_menu {
  position: absolute;
  top: 76px;
  right: 212px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  row-gap: 100px;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 420px;
}

.etc_menu > div {
  height: 170px;
  width: 190px;
  background: rgb(35 34 39 / 40%);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 47%);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.etc_menu > div img {
  height: 140px;
  margin-top: -60px;
}

.etc_menu > div p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white-card);
  letter-spacing: 1px;
}

.etc_menu > div p:nth-of-type(2) {
  color: var(--logo);
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.etc_menu > div p:nth-of-type(3) {
  color: var(--white-card);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 800;
}
.etc_menu > div span {
  color: var(--yellow);
}

@media screen and (min-width: 820px) {
  .Home {
    grid-template-columns: repeat(auto-fit, minmax(329px, 1fr));
  }

  .Home section {
    padding: 56px 0 0 0;
  }

  .Left > p {
    font-size: 5rem;
  }

  .Left span {
    font-size: 5.8rem;
  }

  .Left > p:last-of-type {
    text-align: left;
    width: 80%;
  }

  .Left button {
    width: fit-content;
    padding: 8px 16px;
    margin: initial;
  }

  .etc_menu {
    min-width: 420px;
    right: 28px;
  }

  .etc > img {
    position: absolute;
    top: 36px;
    right: -20px;
    height: 600px;
    width: 400px;
  }
}

@media screen and (max-width: 1320px) {
  .etc_menu {
    right: 28px;
  }

  .etc > img {
    right: -40px;
  }
}

@media screen and (max-width: 1040px) {
  .etc_menu {
    width: initial;
    justify-content: center;
    row-gap: 68px;
  }
  .etc_menu > div {
    width: 154px;
  }
  .etc_menu > div img {
    height: 112px;
  }
  .etc_menu > div p:nth-of-type(1) {
    font-size: 1.2rem;
  }

  .etc_menu > div p:nth-of-type(2) {
    font-size: 1rem;
  }
  .etc > img {
    right: 0;
    max-width: 300px;
    width: 360px;
  }
}

@media (max-width: 820px) {
  .etc_menu {
    right: initial;
  }
}

@media screen and (max-width: 515px) {
  .Home section {
    margin: 0 auto;
    width: 335px;
  }
}
